body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
  display: grid;
  margin-top: 50px;
}

.movie-card {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 500px;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.4rem;
  font-size: 1.3rem;
  border-radius: 15px;
  justify-items: space-around;
  align-items: center;
  transition: all 0.3s;
  padding-left: 20px;
}
img {
  height: 100px;
  width: 70px;
  margin: 0px;
}

/*To-Do app*/

.input-container {
  /* transform: translate(35%, 200%); */
  justify-self: center;
  margin-top: 50px;
}

.input-name {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  margin-right: 10px;
  padding: 5px;
}

.btn {
  cursor: pointer;
  border: none;
}
.btn-add {
  height: 35px;
  width: 80px;
  border-radius: 15px;
  background-color: rgba(38, 38, 243, 0.796);
  color: white;
}
.btn-add:hover {
  background-color: rgba(33, 33, 237, 0.912);
}

.btn-close {
  /* height: 50px;
  width: 50px; */
  border-radius: 50%;
  font-size: 50px;
  background: none;
  color: red;
  /* background-color: rgba(222, 57, 57, 0.796); */
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
